
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  font-family:"Poppins", sans-serif;
}
.App-header {
 background-color: #FAFBF9;
 color: #131A0F;
}
.inboxi{
  width: 400px;
  height: 400px;
  background-color: #282c34;
  color: aliceblue;
  position: relative;
  z-index: 9999;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
.backdrop{
background-color: aliceblue;
backdrop-filter: blur(4px);
z-index: 999;
}

.f{
  display: block;
}
.navbar{
  border-bottom: 1px solid #131a0f38;
}
.empty{
  height: 120px;
}
.empty2{
  height: 150px;
}
.empty3{
  height: 50px;
}
.empty4{
  height: 200px;
}
.showi2{
  display: none;
}
@media (max-width:764px) {
  .showi{
    display: none;
  }
  .showi2{
    display: flex;
    flex-direction: row-reverse;
  }
  .nonomi2{
    display: block !important;
  }
}
.nonomi2{
  display: none;
}
.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.starx{
  object-fit: cover;
  width: 290px;
}
.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #8FBD98;
  color: #111211;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
.mola{
  background-color:#475E36 ;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.healthy{
  border-radius: 10px ;
  background-color:#475E36;
  color: #FAFBF9;
  width: 300px ;
  height: 400px;
}
.llojet-suplementev{
  border-radius: 10px ;
  background-color:#475e363b;
  color: #FAFBF9;
  width: 1200px ;
  height: 400px;
  overflow-x:hidden;
  overflow-y: auto;
}

.kllient {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping of items */
  overflow-x: auto; /* Enable horizontal scrolling */
  height: 400px;
}

.kllient > * {
  flex-shrink: 0; /* Prevent items from shrinking */
  white-space: nowrap; /* Prevent line breaks within items */
  padding: 0 8px; /* Add padding between items */
}

.kllient::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}
.kllient::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border radius of the thumb */
  border: 1px solid transparent;
  
}
.kllient::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}
.kllient.scroll-transition {
  transition: scroll-left 1s ease-in-out;
}
.left-right{
  width: 35px;
  height: 35px;
  background-color: #475E36;
  border-radius: 50%;
}
.client1{
border-radius: 0px 50px 0px 0px;
border: #131A0F;
background-color: #475e363b;
width: 300px;
height: 320px;
border: 1px solid #131A0F;
cursor: pointer;
margin-top: 20px;
}
.client2{
  border-radius: 0px 50px 0px 0px;
  border: 1px solid #131A0F;
  background-color: #475e363b;
  width: 300px;
  height: 320px;
  cursor: pointer;
  margin-top: 20px;
  }
   .client3{
    border-radius: 0px 50px 0px 0px;
    border: 1px solid #131A0F;
    background-color: #475e363b;
    width: 300px;
    height: 320px;
    cursor: pointer;
    margin-top: 20px;
    } 
    .client4{
      border-radius: 0px 50px 0px 0px;
      border: 1px solid #131A0F;
      background-color: #475e363b;
      width: 300px;
height: 320px;
cursor: pointer;
margin-top: 20px;
      }
      .client5{
        border-radius: 0px 50px 0px 0px;
        border: 1px solid #131A0F;
        background-color: #475e363b;
        width: 300px;
        height: 320px;
        cursor: pointer;
        margin-top: 20px;
        }
        .client6{
          border-radius: 0px 50px 0px 0px;
          border: 1px solid #131A0F;
          background-color: #475e363b;
          width: 300px;
height: 320px;
cursor: pointer;
margin-top: 20px;
          }
          .client7{
            border-radius: 0px 50px 0px 0px;
            border: 1px solid #131A0F;;
            background-color: #475e363b;
            width: 300px;
height: 320px;
cursor: pointer;
margin-top: 20px;
            }
            .client8{
              border-radius: 0px 50px 0px 0px;
              border: #131A0F;
              background-color: #475e363b;
              width: 300px;
              height: 320px;
              }

/* 
///////////////////////////////////////////////////////////////////////
*/
.kllient .client1:hover{
  transform: scale(1.1, 1.1);
}


.kllient:hover > .client2:not(:hover){
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
.kllient:hover > .client3:not(:hover){
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
.kllient:hover > .client4:not(:hover){
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
.kllient:hover > .client5:not(:hover){
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
.kllient:hover > .client6:not(:hover){
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
.kllient:hover > .client7:not(:hover){
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}


.kllient .client2:hover{
  transform: scale(1.1, 1.1);
}


.kllient:hover > .client1:not(:hover){
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.kllient .client3:hover{
  transform: scale(1.1, 1.1);
}

.kllient .client4:hover{
  transform: scale(1.1, 1.1);
}
.kllient .client5:hover{
  transform: scale(1.1, 1.1);
}

.kllient .client6:hover{
  transform: scale(1.1, 1.1);
}

.kllient .client7:hover{
  transform: scale(1.1, 1.1);
}

.vija{
  margin-bottom: 60px;
  border-top: 1px solid #111211;
  width: max-content 1200px;
}


.ddd{
 
  background: rgba( 19, 26, 15, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.llojet-suplementev::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}
.llojet-suplementev::-webkit-scrollbar-thumb {
  background-color: #475E36; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border radius of the thumb */
  border: 1px solid transparent;
  
}
.llojet-suplementev::-webkit-scrollbar-track {
  background-color: #FAFBF9; /* Set the color of the scrollbar track */
}
@media (max-width:764px) {
  .healthy{
    width: 500px;
    height: 340px;
  }
  .llojet-suplementev{
    width: 500px;
    height: 340px;
  }
  .saba{
    margin-left: 140px;
  }
}
@media (max-width:570px) {
  .healthy{
    width: 400px;
    height: 340px !important;
  }
  .llojet-suplementev{
    width: 400px;
    height: 340px !important;
  }
  .saba{
    margin-left: 100px;
  }
}
@media (max-width:469px) {
  .healthy{
    width: 350px;
    height: 365px !important;
    margin-left: -25px;
  }
  .llojet-suplementev{
    width: 350px;
    height: 365px !important;
    margin-left: -20px;
  }
  .saba{
    margin-left: 70px;
  }
}


.gradient {
  background: linear-gradient(90deg, #fafbf9, #a0b88c, #475e36);
	background-size: 200% 200%;
	animation: gradient-animation 6s ease infinite;
  height: 100%;
}

.signup{
  border: 1px solid #131A0F;
  border-radius: 5px;
width: 800px;
height: 500px;
background: rgba( 19, 26, 15, 0.25 );
box-shadow: 0px 0px 11px 2px rgba(19,26,15,0.75);
-webkit-box-shadow: -1px 0px 11px 2px rgba(19,26,15,0.75);
-moz-box-shadow: -1px 0px 11px 2px rgba(19,26,15,0.75);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
}
.input-wrapper input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: #475E36;
  box-shadow: 0 0.4rem #94b57d;
  cursor: pointer;
}

.input-wrapper input:focus {
  outline-color: #475E36;
}

.input-wrapper2 input {
  background-color: #FAFBF9;
  border: none;
  padding: 10px;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: #475E36;
  box-shadow: 0 0.4rem #94b57d;
  border: 1px solid #131A0F;
  cursor: pointer;
}

.input-wrapper2 input:focus {
  outline-color: #475E36;
}

.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #FAFBF9;
  background-color: #475E36;
  align-items: center;
}
.backdrop{

  position: absolute;
top:0;
left:0;
height: 110%;
width: 100%;
background: #000000e1;
display: flex;
justify-content: center;
align-items: center;
animation: fadeOut 3s ease forwards;
}
@media (max-width:764px) {
  .backdrop{
    height: 155%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50%{
    opacity:1;
  }
  100% {
    opacity: 0;
    display: none; /* Hide the backdrop after animation */
  }
}
.backdrop2{

  position: fixed;
top:0;
left:0;
height: 100%;
width: 100%;
background: #000000e1;
display: flex;
justify-content: center;
align-items: center;
z-index: 998

}
.inbox{
  border: 1px solid #131A0F;
  width: 300px;
  height: 200px;
  background-color: #475e363b;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #FAFBF9;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: l5 1s infinite;
}
@keyframes l5 {to{transform: rotate(.5turn)}}

.loginform{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #131A0F;
  border-radius: 10px;
  width: 300px; /* Adjust the width as needed */
  height: 300px;
  background: rgba(19, 26, 15, 0.25);
  box-shadow: 0px 0px 11px 2px rgba(19, 26, 15, 0.75);
  -webkit-box-shadow: -1px 0px 11px 2px rgba(19, 26, 15, 0.75);
  -moz-box-shadow: -1px 0px 11px 2px rgba(19, 26, 15, 0.75);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 999;

}
.btnsign{
  border-radius: 5px;
  border: 1px solid #131A0F;
  background:transparent;
  padding: 10px;
  transition: all 0.3s ease-in-out
}
.btnsign:hover{
  background-color: #131A0F;
  color: #FAFBF9;
}
.btnsign2{
  border-radius: 5px;
  border: 1px solid #131A0F;
  background:transparent;
  transition: all 0.3s ease-in-out
}
.btnsign2:hover{
  background-color: #050604;
  color: #FAFBF9;
}

.btnsign3{
  border-radius: 5px;
  border: 1px solid #E9F0E5;
  background:transparent;
  transition: all 0.3s ease-in-out
}
.btnsign3:hover{
  background-color: #FAFBF9;
  color: #050604;
}
.colli{
  background-image: url(images/Login.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: max-content;
  height: max-content;
  background-color: rgba(250, 251, 249,0.5);
  border-radius: 100% 0% 0% 100%;
}
@media (max-width:1024px) {
  .signup{
    width: 800px;
    height: 800px;
  }
  .colli{
    background-color: rgba(250, 251, 249,0.5);
  border-radius: 100% 100% 0% 0% !important;
  }
}
@media (max-width:811px) {
  .signup{
    width: 600px;
    height: 800px;
  }
 
}
@media (max-width:625px) {
  .signup{
    width: 400px;
    height: 800px;
  }
 
}
@media (max-width:430px) {
  .signup{
    width: 320px;
    height: 800px;
  }
 .img-sign{
  width: 250px;
  height: 250px;
 }
 .colli{
  background-image: none;
 }
}